* {
	box-sizing: border-box;
}

#modal {
	--backdrop-color: rgba(0, 0, 0, 0.3);
	--backdrop-position: absolute;
}

.wrapper {
	text-align: center;
	margin: auto;
	background-color: #eee;
	padding: 5px;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

.title {
	padding: 10px 0;
}

.form {
	display: inline-block;
	text-align: right;
	margin: 10px 0;
}

.form div {
	margin: 10px 0;
}

.button-container {
	margin: 10px 0;
}

.complete {
	margin-right: 30px;
}
