* {
	box-sizing: border-box;
}

#modal {
	--backdrop-display: block;
	--backdrop-color: rgba(0, 0, 0, 0.3);
	--backdrop-position: absolute;
	--animation-function: ease-in;
	--animation-duration: 300ms;
}

.wrapper {
	display: none;
	text-align: center;
	margin: 0 auto;
	background-color: #eee;
	padding: 5px;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
}

@keyframes slide-in {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(45%);
	}
}

.wrapper.active {
	display: block;
	animation: slide-in 500ms ease-in forwards;
}

@keyframes slide-out {
	from {
		transform: translateY(45%);
	}
	to {
		transform: translateY(-100%);
	}
}

.wrapper.hide {
	display: block;
	animation: slide-out 500ms ease forwards;
}

.title {
	padding: 10px 0;
}

.form {
	display: inline-block;
	text-align: right;
	margin: 10px 0;
}

.form div {
	margin: 10px 0;
}

.button-container {
	margin: 10px 0;
}

.complete {
	margin-right: 30px;
}
